apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      version: ">=20.0.0"
  interval: 1m
  install:
    createNamespace: true
  values:
    global:
      checkNewVersion: false
    ports:
      web:
        enabled: true
        port: 80
      websecure:
        enabled: true
        port: 443
