apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
- kustomization-cert-manager.yaml
- kustomization-cert-manager-resources.yaml
spec:
  decryption:
    provider: sops
    secretRef:
      name: sops-age
